BASE_URL=https://restful-booker.herokuapp.com
BOOKING_USERNAME=admin
BOOKING_PASSWORD=password123

SAUCE_DEMO_URL=https://www.saucedemo.com/
SAUCE_VALID_USERNAME=standard_user
SAUCE_VALID_PASSWORD=secret_sauce
SAUCE_INVALID_USERNAME=standard_user_Invalid
SAUCE_ERROR_MESSAGE=Epic sadface: Username and password do not match any user in this service
SAUCE_PRODUCT_BACKPACK=Sauce Labs Backpack
SAUCE_PRODUCT_BIKE_LIGHT=Sauce Labs Bike Light
SAUCE_PRODUCT_ONESIE=Sauce Labs Onesie
CHECKOUT_FIRST_NAME=John
CHECKOUT_LAST_NAME=Doe
CHECKOUT_POSTAL_CODE=12345
CHECKOUT_SUCCESS_HEADER=Thank you for your order!
CHECKOUT_SUCCESS_TEXT=Your order has been dispatched, and will arrive just as fast as the pony can get there!
